* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  font-size: 16px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.1em;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.wrapper {
  width: 100%;
}

.header,
.footer {
  color: white;
}

.header {
  background: #f72585;
  background: linear-gradient(0deg, #f72585 0%, #7209b7 100%);
}
.header__inner {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__burger {
  font-size: 16px;
  height: 2.5em;
  width: 2.5em;
}

.header.menu-opened .burger__decor {
  background-color: rgba(255, 255, 255, 0);
}
.header.menu-opened .burger__decor::before {
  transform: translate(0.1em, -0.02em) rotateZ(-45deg);
}
.header.menu-opened .burger__decor::after {
  transform: translate(0.1em, 0.02em) rotateZ(45deg);
}

.burger {
  --burger-transition: 0.5s;
  position: relative;
  display: flex;
  align-items: center;
}
.burger__decor, .burger__decor::before, .burger__decor::after {
  width: 100%;
  height: 0.3125em;
  background-color: white;
  border-radius: 1em;
}
.burger__decor {
  transition: all var(--burger-transition);
}
.burger__decor::before, .burger__decor::after {
  transition: all var(--burger-transition);
  transform-origin: center left;
  content: "";
  display: block;
  position: absolute;
  left: 0;
}
.burger__decor::after {
  top: 0.2em;
}
.burger__decor::before {
  bottom: 0.2em;
}
.burger__btn {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.footer {
  background: #7209b7;
  background: linear-gradient(180deg, #f72585 0%, #7209b7 100%);
}
.footer__inner {
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

.slider-example__title-wrapper {
  text-align: center;
}
.slider-example__slider .gallery-dot {
  position: relative;
  width: 20px;
  height: 20px;
}
.slider-example__slider .gallery-arrow {
  width: 50px;
  height: 50px;
}
.slider-example__slider .gallery-arrow::before {
  content: "";
  display: block;
  position: absolute;
  width: 60%;
  height: 60%;
  pointer-events: none;
  transition: transform 0.5s;
  background: url("../img/slider-arrow.svg");
}
.slider-example__slider .gallery-arrow::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  pointer-events: none;
  border: 1px solid white;
  background-color: rgba(240, 255, 255, 0.2);
  transition: background-color 0.5s, transform 0.8s;
}
.slider-example__slider .gallery-arrow-disabled {
  transform: initial;
}
.slider-example__slider .gallery-arrow-clicked::after {
  -webkit-animation: arrow-pulse 0.6s 1 forwards;
          animation: arrow-pulse 0.6s 1 forwards;
}

.landscape-slider {
  height: 340px;
  position: relative;
  padding: 0 0 40px 0;
}
.landscape-slider__item {
  width: 100%;
  height: 100%;
}
.landscape-slider__item-picture {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -o-object-fit: cover;
     object-fit: cover;
}
.landscape-slider .gallery-dots {
  bottom: 7.5px;
  left: 50%;
  display: flex;
  transform: translateX(-50%);
}
.landscape-slider .gallery-dot {
  margin-right: 5px;
}
.landscape-slider .gallery-arrow {
  top: calc(50% - 40px);
  transition: transform 0.3s;
}
.landscape-slider .gallery-arrow::before {
  top: 50%;
}
.landscape-slider .gallery-arrow-prev {
  left: 20px;
}
.landscape-slider .gallery-arrow-prev::before {
  left: 45%;
  transform: translate(-50%, -50%) rotateZ(180deg);
}
.landscape-slider .gallery-arrow-next {
  right: 20px;
}
.landscape-slider .gallery-arrow-next::before {
  left: 55%;
  transform: translate(-50%, -50%);
}

.vertical-slider {
  height: 300px;
  padding-right: 60px;
  position: relative;
  border-radius: 0 15px 15px 0;
  background: #f72585;
  background: linear-gradient(0deg, #f72585 0%, #7209b7 100%);
}
.vertical-slider__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;
  text-transform: uppercase;
}
.vertical-slider__slide-1 {
  background-color: purple;
}
.vertical-slider__slide-2 {
  background-color: orangered;
}
.vertical-slider__slide-3 {
  background-color: palevioletred;
}
.vertical-slider__slide-4 {
  background-color: rebeccapurple;
}
.vertical-slider__slide-5 {
  background-color: seagreen;
}
.vertical-slider .gallery-line {
  background-color: white;
}
.vertical-slider .gallery-arrow-next {
  bottom: 5px;
  right: 5px;
}
.vertical-slider .gallery-arrow-next::before {
  transform: translate(32%, -44%) rotateZ(90deg);
}
.vertical-slider .gallery-arrow-prev {
  top: 5px;
  right: 5px;
}
.vertical-slider .gallery-arrow-prev::before {
  transform: translate(32%, -50%) rotateZ(-90deg);
}
.vertical-slider .gallery-dots {
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.vertical-slider .gallery-dot {
  margin-bottom: 7px;
}

.gallery-arrows:focus-visible,
.gallery-arrow:focus-visible,
.gallery-dot:focus-visible,
.burger__btn:focus-visible {
  outline: 5px solid red;
}

@-webkit-keyframes arrow-pulse {
  50% {
    transform: scale(0.5);
    background-color: rgba(240, 255, 255, 0);
  }
  100% {
    background-color: rgba(240, 255, 255, 0.2);
    transform: scale(1);
  }
}

@keyframes arrow-pulse {
  50% {
    transform: scale(0.5);
    background-color: rgba(240, 255, 255, 0);
  }
  100% {
    background-color: rgba(240, 255, 255, 0.2);
    transform: scale(1);
  }
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }

  .slider-example__row {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }
  .slider-example__row--slider-on-the-left {
    flex-direction: row-reverse;
  }
  .slider-example__row--slider-on-the-left .slider-example__title {
    text-align: right;
  }
  .slider-example__row--slider-on-the-right .slider-example__title {
    text-align: left;
  }
  .slider-example__slider {
    flex: 0 0 60%;
    width: 60%;
  }
  .slider-example__title-wrapper {
    flex: 0 0 calc(40% - 20px);
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }

  .slider-example__slider {
    flex: 0 0 70%;
  }
  .slider-example__title-wrapper {
    flex: 0 0 calc(30% - 20px);
  }

  .vertical-slider {
    height: 400px;
  }

  .landscape-slider {
    height: 440px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1350px;
  }
}