body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    font-size: 16px;
}

h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2.1em;
}

.mb-15 {
    margin-bottom: 15px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-50 {
    margin-bottom: 50px;
}

.wrapper {
    width: 100%;
}

.header,
.footer {
    color: white;
    
}
.header {
    background: rgb(247,37,133);
    background: linear-gradient(0deg, rgba(247,37,133,1) 0%, rgba(114,9,183,1) 100%);
    &__inner {
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__burger {
        font-size: 16px;
        height: 2.5em;
        width: 2.5em;
    }
}
.header.menu-opened .burger{
    &__decor {
        background-color: rgba(255, 255, 255, 0);
        &::before {
            transform: translate(0.1em, -0.02em) rotateZ(-45deg);
        }
        &::after{
            transform: translate(0.1em, 0.02em) rotateZ(45deg);
        }
    }
}
.burger {
    --burger-transition: 0.5s;
    position: relative;
    display: flex;
    align-items: center;
    &__decor,
    &__decor::before,
    &__decor::after {
        width: 100%;
        height: 0.3125em;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 1em;
    }
    &__decor {
        transition: all var(--burger-transition);
        &::before,
        &::after {
            transition: all var(--burger-transition);
            transform-origin: center left;
            content: '';
            display: block;
            position: absolute;
            left: 0;
        }
        &::after {
            top: 0.2em;
        }
        &::before {
            bottom: 0.2em;
        }
    }
    &__btn {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}
.footer {
    background: rgba(114,9,183,1);
    background: linear-gradient(180deg, rgba(247,37,133,1) 0%, rgba(114,9,183,1) 100%);
    &__inner {
        min-height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

.slider-example {
    &__title-wrapper {
        text-align: center;
    }
    &__slider {
        .gallery-dot {
            position: relative;
            width: 20px;
            height: 20px;
        }
        .gallery-arrow {
            width: 50px;
            height: 50px;
            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 60%;
                height: 60%;
                pointer-events: none;
                transition: transform 0.5s;
                background: url('../img/slider-arrow.svg');
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                pointer-events: none;
                border: 1px solid white;
                background-color: rgba(240, 255, 255, 0.2);
                transition: background-color 0.5s, transform 0.8s;
            }
        }
        .gallery-arrow-disabled {
            transform: initial;
        }
        .gallery-arrow-clicked::after {
            animation: arrow-pulse 0.6s 1 forwards;
        }
    }
}

.landscape-slider {
    height: 340px;
    &__item {
        width: 100%;
        height: 100%;
        &-picture {
            width: 100%;
            height: 100%;
            user-select: none;
            object-fit: cover;
        }
    }
    position: relative;
    padding: 0 0 40px 0;
    & .gallery-dots {
        bottom: 7.5px;
        left: 50%;
        display: flex;
        transform: translateX(-50%);
    }
    & .gallery-dot {
        margin-right: 5px;
    }
    & .gallery-arrow {
        top: calc(50% - 40px);
        transition: transform 0.3s;
        &::before {
            top: 50%;
        }
    }
    & .gallery-arrow-prev {
        left: 20px;
        &::before {
            left: 45%;
            transform: translate(-50%, -50%) rotateZ(180deg);           
        }
    }
    & .gallery-arrow-next {
        right: 20px;
        &::before {
            left: 55%;
            transform: translate(-50%, -50%);           
        }
    }
}

.vertical-slider {
    height: 300px;
    padding-right: 60px;
    position: relative;
    border-radius: 0 15px 15px 0;
    background: rgb(247,37,133);
    background: linear-gradient(0deg, rgba(247,37,133,1) 0%, rgba(114,9,183,1) 100%);
    &__slide {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 100%;
        text-transform: uppercase;
        &-1 {
            background-color: purple;
        }
        &-2 {
            background-color: orangered;
        }
        &-3 {
            background-color: palevioletred;
        }
        &-4 {
            background-color: rebeccapurple;
        }
        &-5 {
            background-color: seagreen;
        }
    }
    .gallery-line {
        background-color: white;
    }
    .gallery-arrow-next {
        bottom: 5px;
        right: 5px;
        &::before {
            transform: translate(32%, -44%) rotateZ(90deg);
        }
    }
    .gallery-arrow-prev {
        top: 5px;
        right: 5px;
        &::before {
            transform: translate(32%, -50%) rotateZ(-90deg);
        }
    }
    .gallery-dots {
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
    .gallery-dot {
        margin-bottom: 7px;
    }
}
.gallery-arrows:focus-visible,
.gallery-arrow:focus-visible,
.gallery-dot:focus-visible,
.burger__btn:focus-visible {
    outline: 5px solid red;
}

@keyframes arrow-pulse {
    0% {}
    50% {
        transform: scale(0.5);
        background-color: rgba(240, 255, 255, 0);
    }
    100% {
        background-color: rgba(240, 255, 255, 0.2);
        transform: scale(1);
    }
}









@media(min-width: 576px) {
    .container {
        width: 540px;
    }
}
@media(min-width: 768px) {
    .container {
        width: 720px;
    }
    .slider-example {
        &__row {
            max-width: 100%;
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            &--slider-on-the-left {
                flex-direction: row-reverse;
            }
        }
        &__row--slider-on-the-left {
            .slider-example__title {
                text-align: right;
            }
        }
        &__row--slider-on-the-right {
            .slider-example__title {
                text-align: left;
            }
        }
        &__slider {
            flex: 0 0 60%;
            width: 60%;
        }
        &__title-wrapper {
            flex: 0 0 calc(40% - 20px);
        }
    }
}
@media(min-width: 992px) {
    .container {
        width: 960px;
    }
    .slider-example {
        &__slider {
            flex: 0 0 70%; 
        }
        &__title-wrapper {
            flex: 0 0 calc(30% - 20px);
        }
    }
    .vertical-slider {
        height: 400px;
    }
    .landscape-slider {
        height: 440px;
    }
}
@media(min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
@media(min-width: 1400px) {
    .container {
        width: 1350px;
    }
}